@page
@model ChalkboardChat.UI.Pages.Member.DeleteUserModel
@{
}
<h2>Radera konto</h2>

<form method="post">
    <p>Vill du verkligen radera ditt konto?</p>
    <button type="submit" class="btn btn-primary">Ja, radera mitt konto</button>
</form>
