@page
@model StartModel
@{
    ViewData["Title"] = "ChatBoard";
}
<form method="post">
    <div>
        <button type="submit" asp-page-handler="Logout">Logga ut</button>
        <button type="submit" asp-page="/UserInfo">Mina uppgifter</button>
    </div>
</form>
<h1>Chalk Board Chat</h1>
<section>
    @* Loopa genom meddelandelista och visa dem *@
    @foreach (var message in Model.Messages)
    {
        @* Lokal variabel för egna meddelanden *@
        var minaMedd = message.UserName == User.Identity?.Name;

        <div class="message" style="border-radius:10px" @(minaMedd ? "bg-info" : "")>
            @* Highlighta de egna meddelandena *@
            <p>
                <strong>@message.UserName</strong>
                (@message.Date.ToLocalTime())
            </p>
            <p>@message.Message</p>
        </div>
    }
</section>
<section>
    <form>
        @* För att skapa meddelande *@
        <div>
            <textarea id="message" name="Message" placeholder="Skriv meddelande här..." > </textarea> 
        </div>
        <button type="submit" asp-action="Post">Skicka inlägg</button>
    </form>
</section>
